<!DOCTYPE html>
<html>
<style type="text/css">
label {color: black}
body {background-image: url("http://img.phombo.com/img1/photocombo/181701/100_HD_Nature_Wallpapers_HQPixsBlog-9.jpg_HQ_Pixs_Blog_14.jpg");
background-repeat: no-repeat;
color:black;
 }
.vertical-center {

position: fixed;
  top: 30%;
  left: 38%;


}
h2 {color:white}
.panel > .panel-heading {

    background-color: light-blue;
    color: black;

}


</style>
<body>
<div class="vertical-center">
<div class="panel panel-default">
  <div class="panel-heading custom_class" >
  <div class="panel-body">
<h4>Forgot your password?</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</body>
</div>
</div>
</div>
</div>
</html>
