<!DOCTYPE html>
<html>
<style type="text/css">
label {color: red}
th {color:yellow}
link_to {color: red;}
td {color:green}
iframe {color:black}
body {background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTf-L2B8JFJU5dNp5B6k02I5cqW6rC7KZ0juQO8aH0D97CdM4uXrQ");
color: black;
 }
 h1 {color:white}
.temp{
  color: red
}
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; color: red;}
  .m { font-size: 1.2em;color: red; }
  .l { font-size: 1.8em; color: red;}

}
.text_ {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.overlay{
  position: absolute;
  top: -35px;
  left: 65px;
  width: 40%;
  height: 34%;
  z-index: 10;
  background-color: #FFFFFF;
}       


sub {
  bottom: -0.99em;
  right: -em;
  right: -1em;
}

</style>

<script type="text/javascript">  
  $(function(){              
        
    $('.modal-dialog').css('width','250px');          

    $('.close1').on('click',function(event){      
      $('#modal-dialog_'+$(this).attr('closeid')).hide({modal: true});
    });

   


    $(".like_id").hover(function() {
      // $("#like_id").attr('title','giri');                   
      var postid=$(this).attr('post_id');
      $.get('/get_liked_users_hover', {id: $(this).attr('post_id')}, function(data) { 
        var usrs=JSON.parse(data);        
        $('#liked'+postid).attr('title',usrs.join("\n"));        
      });        

    });

    $('.text_comment').hide();  

    $('.link_to_comment').on('click',function(event){ 
      event.preventDefault();           
      var temp="#text_comment_"+ $(this).attr("id");      
      $(temp).show();
    });

    $(".text_").keyup(function (e) {            
      if (e.keyCode == 13) {                                 
        $.get('/comment', {content: $(this).val(),id: $(this).attr('val')}, function() {                    
        });        
      }
    });

  });

</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>

<body >

<div class="page-header">
<h1>All posts</h1>
</div>
<% if flash[:notice] %>
<%= flash[:notice] %>
  <% end %>

<div id="tag_cloud">
  <div class="panel panel-default">
    <div class="panel-heading custom_class" >
      <div class="panel-body">
        <h4>Tags:</h4>
          <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="row ">
    <div class="col-md-2 col-md-offset-1">
      <% @post.each do |msg| %>
        <div id="tag_cloud">
          <div class="panel panel-default">
            <div class="panel-heading custom_class" >
              <div class="panel-body">                                
                <%= link_to msg.title, post_path(msg) %>
                <%if msg.image.url!="/images/original/missing.png"%>
                  <%= link_to image_tag(msg.image.url(:thumb),:width => 70, :height => 70),post_path(msg)%>
                <%else%>
                  <%= link_to image_tag("http://www.bandit.fm/web/img/no-image.png",:size=>"70x70"),post_path(msg)%>                  
                <%end%>   
                <br><br><br>
                <%if msg.video.url!="/videos/original/missing.png" && msg.you_tube_video.present? %>
                  <% url="//www.youtube.com/embed/"+msg.you_tube_video.split("=").last%>
                    <video width="300" height="240" controls>
                      <source src="<%=msg.video.url%>" type="video/mp4">
                    </video>         
                    <br>                                               
                    <br>
                    <iframe width="300" height="240" src="<%=url%>" frameborder="0" allowfullscreen="allowfullscreen" id="iframe">
                    </iframe>                                                              
                <%elsif msg.video.url!="/videos/original/missing.png"%>
                  <video width="300" height="240" controls>
                    <source src="<%=msg.video.url%>" type="video/mp4">
                  </video>
                <%else msg.you_tube_video.present?%>
                  <% url="//www.youtube.com/embed/"+msg.you_tube_video.split("=").last%>
                  <iframe width="300" height="240" src="<%=url%>" frameborder="0" allowfullscreen="allowfullscreen" id="iframe"></iframe>
                <%end%>
                <br>                
                <%= msg.body.first(120)%> <%=link_to "more.......",post_path(msg)%>
                <br><br>                
                <div class="row ">                  
                  <div class="col-md-4">
                    <%= link_to 'comment', '#' ,:id=>"#{msg.id}",:class=>"link_to_comment",:style=>"font-style: italic;"%>
                  </div>

                  <div class="col-md-4">                    
                    <div class="row ">
                      <div class="col-md-3">                    
                        <%likeornot=nil%>
                        <%likeornot=Like.find_by_post_id_and_user_id(msg.id,current_user.id)%>
                        <%if likeornot.present?%>
                          <%= link_to 'like',post_create_and_get_like_count_path(:post_id=>msg.id), method: :get,:remote => true, :class=>"like_id" ,:id=>"liked"+msg.id.to_s,:post_id=>msg.id,:style=>"color: blue; font-style: italic;"%>
                        <%else%>
                          <%= link_to 'like',post_create_and_get_like_count_path(:post_id=>msg.id), method: :get,:remote => true, :class=>"like_id" ,:id=>"liked"+msg.id.to_s,:post_id=>msg.id,:style=>"font-style: italic;"%>
                        <%end%>                      
                        <%=render :partial=>"posts/modal_dialog", :locals => { :post_id => msg.id }%>
                      </div>
                      <div class="col-md-3">                    
                        <div id="like_<%=msg.id%>">                        
                        </div>                        
                      </div>                      
                    </div>
                  </div>

                  <div class="col-md-4">
                    <%= link_to 'tag', post_path(msg),:style=>"font-style: italic;" %>
                  </div>
                  <div id="commented_<%=msg.id%>" class="commented">
                    <br><br>                                        
                    <%Comment.where(post_id: msg.id).each do |comm|%>
                      <div class="panel panel-primary">
                        <div class="panel-heading" id="<%=Time.now%>" style="min-height: 5; max-height: 5;">
                          <%=comm.content%><sub><%=User.find(comm.user_id).email%></sub>
                        </div>                      
                      </div>
                    <%end%>
                  </div>
                  <div id="text_comment_<%=msg.id%>" style="display:none;" class="text_comment">
                    <br><br>
                    <%= text_field_tag :comment,nil,:size => "40",:val=>msg.id,:class=>"text_" %> 
                    <br>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</body>
</html>