<!DOCTYPE html>
<html>
<style type="text/css">
label {color: yellow}
body {background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTf-L2B8JFJU5dNp5B6k02I5cqW6rC7KZ0juQO8aH0D97CdM4uXrQ");
color:black;
 }

 h1 {color:white}

.container {
  margin:1%;

}
label {display: block;color: lightblue;}

</style>
<body >



<div class="page-header">
<h1 >Add post</h1>
</div>

<% if @post.errors.any? %>

    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<%= form_for :post,url:posts_path do |f| %>



<p>
  <div class="container">
  <%= f.label :title %>
  <%= f.text_field :title%><br>
</div>
</p>


<p>
<div class="container">
<%= f.label :tag_list, "Tags (separated by commas)" %><br />
<%= f.text_field :tag_list %>
</div>
</p>



  <p>
 <div class="container">
  <%=f.label :content %>
  <%= f.text_area :body, :rows=>"6",:cols =>85 %>
  </div>
   <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>




<p>
<div class="container">
<%= f.label :image%>
<%= f.file_field :image%>
</div>
</p>
<br>
<p>
  <div class="container">
<%= f.label "Youtube Video URL" %>
<%= f.text_field :you_tube_video%>
</div>
</p>

<br>
<p>
<div class="container">
<%= f.label :video%>
<%= f.file_field :video%>
</div>
</p>
</br>

<br>
<p>
  <div class="container">
  <%= f.submit%>
</div>
  </p>
  <%end%>


</body>
</html>