<style type="text/css">
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 30px;

float: right;
}
</style>
<div class="panel panel-default">
  <div class="panel-heading custom_class" >
  <div class="panel-body">
    <div id="navcontainer">
  <ul id="navlist">
    <li><%= button_to 'Edit', edit_post_path(@post),:method => :get, :style=>"background:lightblue"%></li>
    <li><%= button_to 'New post', new_post_path,:method => :get, :style=>"background:lightblue"%></li>
    <li><%= button_to 'Sign out', destroy_user_session_path,:method => :delete, :style=>"background:lightblue"%></li>
    <li><%= button_to 'All posts', posts_path,:method => :get, :style=>"background:lightblue"%></li>
  </ul>
</div>
 <h1>Title:</h1> <h2> <%= @post.title%></h2> ( submitted
 <%= time_ago_in_words(@post.updated_at) %>  ago)

 <br><br><br>
 post image: <%= image_tag @post.image.url(:medium) %>

<br><br><br>
description:
<%=@post.body%><br>
<h4>Tags:</h4><%=@post.tag_list%>
<br><br><br>

<iframe width="250" height="250" src="<%= "http://www.youtube.com/embed/"+@post.video.split("=").last if @post.video.present?%>" alt="video is not avaialable">
</iframe><br><br>

</div>
</div>
</div>