<!DOCTYPE html>
<html>
<style type="text/css">
.navbar-right {
   padding-right: 15px;


}
li {color:yellow}

</style>
<head>
  <title>Devise4</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="navbar-right">
  <li><%= link_to 'sign out',destroy_user_session_path ,:method=>:delete, :style => 'color: #FFFFFF'%><br><br></li>

  <li><%= link_to 'new post',new_post_path,:style => 'color: #FFFFFF'%></li><br><br>
</ul>

<%= yield %>
<ul>
  <li>
<%= link_to 'back',posts_path,:style => 'color: #FFFFFF'%>
</li>
</ul>

</body>
</html>
