<!DOCTYPE html>
<html>
<style type="text/css">
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 30px;

float: right;
}
</style>
<head>
  <title>Devise4</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navcontainer">
  <ul id="navlist">
  <li><%= button_to 'Chat Room', chat_rooms_path,:method => :get, :style=>"background:yellow"%></li>
  <li><%= button_to 'New post', new_post_path,:method => :get, :style=>"background:red"%></li>  
  <li><%= button_to 'Sign out', destroy_user_session_path,:method => :delete, :style=>"background:red"%></li>
</ul>
</div>

<%= yield %>

<br><br><br><br><br>
<%= button_to 'All posts', posts_path,:method => :get, :style=>"background:green"%>



</body>
</html>
